In [20]:
import feather
import os
import re
import pickle
import time
import datetime

import numpy as np
import pandas as pd

from numba import jit

from sklearn.metrics import roc_auc_score
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import matthews_corrcoef

import seaborn as sns
import matplotlib.pyplot as plt

from scipy.sparse import csr_matrix, hstack

from ml_toolbox.xgboostmonitor_utils import *
import ml_toolbox.xgboostmonitor_utils as xgbm

%matplotlib inline

import xgboost as xgb
import subprocess

# Custom modules
import const
import func

In [21]:
pd.set_option('precision', 3)

## Load data

In [22]:
# Load look-up table
lut = pd.read_csv(const.LOOK_UP_TABLE)
lut.head(3)

,line,station,feature_nr,feat_nr_dat,name_dat,name_cat,name_num,col_dat,col_num,col_cat,station_V2,line_V2
0,0,0,0,1.0,L0_S0_D1,NaN,L0_S0_F0,0.0,0.0,NaN,0.0,1.0
1,0,0,2,3.0,L0_S0_D3,NaN,L0_S0_F2,1.0,1.0,NaN,0.0,1.0
2,0,0,4,5.0,L0_S0_D5,NaN,L0_S0_F4,2.0,2.0,NaN,0.0,1.0

In [23]:
print const.TRAIN_FILES

['train_numeric', 'train_categorical_to_num', 'train_date']

In [24]:
# Load raw numeric features
num_data = func.load_data_file(const.TRAIN_FILES[0])
X_num = num_data['data']['features']
y = num_data['data']['y']
ids = num_data['data']['ids']

del num_data

Returning <open file '/Volumes/My Book/kaggle_bosch/train_numeric.pkl', mode 'rb' at 0x11b08ee40>.pkl

In [25]:
# Load raw categorical features
cat_data = func.load_data_file(const.TRAIN_FILES[1])
X_cat = cat_data['data']['features']

del cat_data

Returning <open file '/Volumes/My Book/kaggle_bosch/train_categorical_to_num.pkl', mode 'rb' at 0x11b08ee40>.pkl

In [26]:
# Load raw date features
dat_data = func.load_data_file(const.TRAIN_FILES[2])
X_dat = dat_data['data']['features']

del dat_data

Returning <open file '/Volumes/My Book/kaggle_bosch/train_date.pkl', mode 'rb' at 0x11b08ee40>.pkl

In [27]:
# Load source and destination stations
source_stations = pd.read_csv(os.path.join(const.DATA_PATH, 'feat_set_source_station.csv'), index_col='ID')
destination_stations = pd.read_csv(os.path.join(const.DATA_PATH, 'feat_set_destination_station.csv'), index_col='ID')

In [7]:
source_stations.head(1)

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0,50.0,51.0
ID,,,,,,,,,,,,,,,,,,,,,
4,-1.0,0.0,1.0,NaN,2.0,NaN,NaN,4.0,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Store station 32
for s in [30, 32, 34, 35, 36]:
    print('Storing {:d}'.format(s))
    pd.get_dummies(source_stations['{:d}.0'.format(s)], 
                   'S{:d}_source'.format(s)).astype(int).to_csv('feat_set_source_station_S{:d}.csv'.format(s), 
                                                                index_col='ID')
    pd.get_dummies(destination_stations['{:d}.0'.format(s)], 
                   'S{:d}_dest'.format(s)).astype(int).to_csv('feat_set_destination_station_S{:d}.csv'.format(s), 
                                                              index_col='ID')
    
    tmp = source_stations['{:d}.0'.format(s)].astype(str) + '-' + destination_stations['{:d}.0'.format(s)].astype(str)
    tmp.value_counts()
    #pd.get_dummies(tmp, 'S{:d}_comb'.format(s)).astype(int).to_csv('feat_set_comb_station_S{:d}.csv'.format(s), 
    #                                                          index_col='ID')

Storing 30
Storing 32
Storing 34
Storing 35
Storing 36

In [19]:
# Store station 32
for s in [24.311, 27.0, 29.0, 30.0, 32.0, 34.0, 35.0, 36.0, 37.0]:
    print('Storing {}'.format(s))
    
    tmp = source_stations['{}'.format(s)].astype(str) + '-' + destination_stations['{}'.format(s)].astype(str)
    val_cnt = tmp.value_counts()
    tmp[tmp.isin(val_cnt[val_cnt<740].index)] = '1'
    print tmp.value_counts()
    
    pd.get_dummies(tmp, 'S{}_comb'.format(s)).astype(int).to_csv('feat_set_comb_station_S{}.csv'.format(s), 
                                                              index_col='ID')

Storing 24.311
nan-nan        2102717
24.31-26.0       93758
24.309-26.0      93520
24.31-27.0       25160
24.309-27.0      25103
24.309-29.0      10814
24.31-29.0       10749
24.309-28.0       2010
24.31-28.0        2007
1                 1657
Name: 24.311, dtype: int64
Storing 27.0
nan-nan        2127210
24.311-29.0      49395
25.11-29.0       30688
11.0-29.0        26962
9.0-29.0         26935
10.0-29.0        26804
24.111-29.0      25974
24.211-29.0      10411
25.23-29.0        9439
21.0-29.0         6885
22.0-29.0         6883
23.0-29.0         6818
1                 4942
25.22-29.0        2304
25.21-29.0        2182
24.211-39.0       1862
-1.0-29.0         1046
9.0-39.0           755
Name: 27.0, dtype: int64
Storing 29.0
26.0-30.0      441534
11.0-30.0      363976
9.0-30.0       363498
10.0-30.0      361767
27.0-30.0      233009
21.0-30.0      137115
22.0-30.0      135693
23.0-30.0      135496
nan-nan        128429
24.311-30.0     21537
28.0-30.0       18483
25.11-30.0      14100
-1.0-30.0        4195
1                3408
24.211-30.0      2103
24.111-30.0      2069
25.23-30.0       1083
Name: 29.0, dtype: int64
Storing 30.0
29.0-33.0    2112093
nan-nan       128129
29.0-31.0      78087
29.0-32.0      46203
26.0-33.0       1596
27.0-33.0        740
1                647
Name: 30.0, dtype: int64
Storing 32.0
nan-nan      2318817
30.0-33.0      33694
30.0-36.0       4503
30.0-35.0       3959
30.0-34.0       3787
31.0-33.0       1793
1                942
Name: 32.0, dtype: int64
Storing 34.0
33.0-36.0    1129454
33.0-35.0    1096566
nan-nan       137442
32.0-36.0       2036
32.0-35.0       1939
1                 58
Name: 34.0, dtype: int64
Storing 35.0
nan-nan      1263274
34.0-37.0    1097443
32.0-37.0       4136
33.0-37.0       1552
34.0--1.0        903
1                187
Name: 35.0, dtype: int64
Storing 36.0
nan-nan      1229581
34.0-37.0    1130728
32.0-37.0       4690
33.0-37.0       1558
34.0--1.0        746
1                192
Name: 36.0, dtype: int64
Storing 37.0
36.0--1.0    1112297
35.0--1.0    1077608
nan-nan       126834
35.0-38.0      25538
36.0-38.0      24841
1                377
Name: 37.0, dtype: int64

## Commonly used function

In [8]:
def most(x):
    ''' Returns most common element of series x'''
    
    return x.value_counts().idxmax() if x.value_counts().shape[0]>0 else None

def least(x):
    ''' Returns least common element of series x'''
    
    return x.value_counts().idxmin() if x.value_counts().shape[0]>0 else None

def nth_most_common(x, n):
    ''' Returns nth most common element of series x'''
    
    return x.value_counts().index[n] if x.value_counts().shape[0]>n else None

def err_rate(x):
    ''' Return mean multiplied by 100'''
    return x.mean()*100

## Analyze error rate per source/destination path

In [9]:
# Output all
for station in source_stations.columns:
    s = source_stations.loc[ids.Id, str(station)]
    d = destination_stations.loc[ids.Id, str(station)]
    
    # Create a dataframe
    df = pd.DataFrame({'s':s, 'd':d, 'r':y.Response})
    
    # Transform to feature according following rules
    # sum r < 10: s: 1 d: 1
    # sum r >= 10:
    #   err rate: <0.45: s: 2 d: 2
    #   err rate: >=0.45 <0.9 s: 3 d:3
    #   err rate  >=0.9 actual
    df_agg = df.groupby(['s','d']).agg([err_rate,'count','sum'])
    df_agg.columns = df_agg.columns.droplevel()
    df_agg.reset_index(inplace=True)
    
    #df_agg.loc[df_agg['sum']<10,['s','d']] = 1
    #df_agg.loc[(df_agg['sum']>=10) & (df_agg['err_rate']<0.9), ['s','d']] = 3
    #df_agg.loc[(df_agg['sum']>=10) & (df_agg['err_rate']<0.45), ['s','d']] = 2
    #df_agg = df_agg.groupby(['s','d']).agg({'err_rate':'mean','sum':'sum','count':'sum'})
    
    if df_agg.shape[0]>0:
        #df_agg[(df_agg['sum']>=10) & (df_agg['err_rate']0.45)][['s','d']]==2
        # Print those where there are significant difference between source/destination station
        print('Analyzing station {}'.format(station))
        #print df.groupby(['s','d']).agg([err_rate,'count','sum'])
        print df_agg
        print('')

Analyzing station 0.0
     s    d  err_rate   count   sum
0 -1.0  1.0     0.535  673063  3604
1 -1.0  2.0     0.941     425     4
2 -1.0  3.0     0.000     372     0
3 -1.0  4.0     0.000       2     0

Analyzing station 1.0
     s     d  err_rate   count   sum
0 -1.0   2.0     0.245     408     1
1 -1.0   3.0     0.232     431     1
2 -1.0   4.0     0.000       2     0
3  0.0   2.0     0.535  338937  1812
4  0.0   3.0     0.536  333623  1787
5  0.0   4.0     0.862     232     2
6  0.0   5.0     1.128     266     3
7  0.0  29.0     0.000       5     0

Analyzing station 2.0
      s     d  err_rate   count  sum
0  -1.0   4.0     0.000       3    0
1  -1.0   5.0     0.000       1    0
2   0.0   4.0     1.015     197    2
3   0.0   5.0     0.877     228    2
4   1.0   3.0     1.423     281    4
5   1.0   4.0     0.536  168601  904
6   1.0   5.0     0.531  170446  905
7   1.0   6.0     0.000       2    0
8   1.0   7.0     0.000       3    0
9   1.0   8.0     0.000       1    0
10  1.0   9.0     0.000       1    0
11  1.0  29.0     0.000      10    0

Analyzing station 3.0
      s     d  err_rate   count  sum
0  -1.0   5.0     0.000       1    0
1   0.0   4.0     0.000     193    0
2   0.0   5.0     0.000     179    0
3   1.0   4.0     0.537  165922  891
4   1.0   5.0     0.534  168121  897
5   1.0   6.0     0.000       2    0
6   1.0   7.0     0.000       2    0
7   1.0   8.0     0.000       1    0
8   1.0  29.0     0.000       6    0
9   2.0   4.0     0.725     138    1
10  2.0   5.0     2.098     143    3

Analyzing station 4.0
      s     d  err_rate  count  sum
0  -1.0   6.0     0.000      2    0
1  -1.0   7.0     0.000      3    0
2   0.0   6.0     0.000      2    0
3   1.0   6.0     0.893    112    1
4   1.0   7.0     0.820    122    1
5   2.0   5.0     0.000     61    0
6   2.0   6.0     0.537  84945  456
7   2.0   7.0     0.537  83790  450
8   2.0   8.0     0.000      3    0
9   2.0  29.0     0.000      2    0
10  3.0   5.0     1.587     63    1
11  3.0   6.0     0.543  83374  453
12  3.0   7.0     0.529  82813  438
13  3.0   8.0     0.000      1    0
14  3.0  29.0     0.000      2    0

Analyzing station 5.0
      s     d  err_rate  count  sum
0  -1.0   6.0     0.000      2    0
1  -1.0   7.0     0.000      1    0
2   1.0   6.0     2.143    140    3
3   1.0   7.0     0.000    126    0
4   2.0   6.0     0.515  85876  442
5   2.0   7.0     0.548  84796  465
6   2.0  29.0     0.000      3    0
7   3.0   6.0     0.532  84474  449
8   3.0   7.0     0.537  83967  451
9   3.0   8.0     0.000      1    0
10  3.0  29.0     0.000      2    0
11  4.0   6.0     1.754     57    1
12  4.0   7.0     0.000     67    0

Analyzing station 6.0
      s     d  err_rate   count  sum
0   2.0   8.0     0.000       2    0
1   3.0   8.0     0.000       2    0
2   4.0   7.0     0.000       2    0
3   4.0   8.0     0.539  168233  907
4   4.0   9.0     1.235      81    1
5   4.0  10.0     4.082      49    2
6   4.0  11.0     0.000      69    0
7   4.0  29.0     0.000       1    0
8   5.0   7.0     0.000       6    0
9   5.0   8.0     0.525  170321  895
10  5.0   9.0     0.000      72    0
11  5.0  10.0     0.000      61    0
12  5.0  11.0     0.000      89    0

Analyzing station 7.0
      s     d  err_rate   count  sum
0   2.0   8.0     0.000       3    0
1   3.0   8.0     0.000       2    0
2   4.0   8.0     0.534  166538  889
3   4.0   9.0     0.000      65    0
4   4.0  10.0     0.000      54    0
5   4.0  11.0     0.000      71    0
6   5.0   8.0     0.542  168765  915
7   5.0   9.0     0.000      65    0
8   5.0  10.0     1.538      65    1
9   5.0  11.0     0.000      61    0
10  5.0  29.0     0.000       1    0
11  6.0   8.0     0.000       8    0

Analyzing station 8.0
      s     d  err_rate   count  sum
0   2.0  10.0     0.000       1    0
1   3.0  11.0     0.000       1    0
2   4.0  10.0     0.000       3    0
3   4.0  11.0     0.000       1    0
4   5.0   9.0     0.000       1    0
5   6.0   9.0     0.547  113439  621
6   6.0  10.0     0.515  112262  578
7   6.0  11.0     0.534  112857  603
8   7.0   9.0     0.513  111955  574
9   7.0  10.0     0.574  111807  642
10  7.0  11.0     0.527  111550  588
11  7.0  29.0     0.000       4    0

Analyzing station 9.0
      s       d  err_rate   count  sum
0   2.0  29.000     0.000       1    0
1   6.0  26.000     0.000      10    0
2   6.0  27.000     0.000      11    0
3   6.0  29.000     0.806     124    1
4   6.0  38.000     0.000       2    0
5   6.0  39.000     0.000       6    0
6   7.0  25.202     0.000       1    0
7   7.0  26.000     0.000      14    0
8   7.0  27.000     0.000       5    0
9   7.0  29.000     0.000     108    0
10  7.0  39.000     0.000       2    0
11  8.0  10.000     0.000     238    0
12  8.0  11.000     0.787     254    2
13  8.0  12.000     1.515     264    4
14  8.0  24.100     0.000     168    0
15  8.0  24.200     1.961     102    2
16  8.0  24.300     0.000     494    0
17  8.0  24.303     0.000       1    0
18  8.0  24.308     0.000       1    0
19  8.0  24.311     0.000       2    0
20  8.0  25.100     0.730     137    1
21  8.0  25.201     0.000       1    0
22  8.0  25.202     0.000      31    0
23  8.0  25.211     0.000       2    0
24  8.0  25.212     0.000       1    0
25  8.0  25.221    50.000       2    1
26  8.0  26.000     0.610   15257   93
27  8.0  27.000     0.827   14031  116
28  8.0  28.000     0.899    1112   10
29  8.0  29.000     0.507  181638  920
30  8.0  30.000     0.000       1    0
31  8.0  38.000     0.292     342    1
32  8.0  39.000     0.398   11304   45
33  8.0  40.000     0.000      12    0

Analyzing station 10.0
      s       d  err_rate   count  sum
0   6.0  26.000     0.000       5    0
1   6.0  27.000     0.000       6    0
2   6.0  29.000     2.174      92    2
3   6.0  39.000     0.000       7    0
4   7.0  26.000     7.692      13    1
5   7.0  27.000     0.000      11    0
6   7.0  29.000     0.000      89    0
7   7.0  39.000     0.000       6    0
8   8.0  11.000     0.000     497    0
9   8.0  12.000     1.103     272    3
10  8.0  17.000     0.000       1    0
11  8.0  20.000     0.000       1    0
12  8.0  24.100     0.000     162    0
13  8.0  24.200     1.149      87    1
14  8.0  24.300     1.012     494    5
15  8.0  24.308     0.000       1    0
16  8.0  24.310     0.000       1    0
17  8.0  24.311     0.000       5    0
18  8.0  25.100     3.252     123    4
19  8.0  25.201     0.000       1    0
20  8.0  25.202     0.000      46    0
21  8.0  25.211     0.000       2    0
22  8.0  25.221   100.000       1    1
23  8.0  26.000     0.810   15439  125
24  8.0  27.000     0.789   13687  108
25  8.0  28.000     0.364    1099    4
26  8.0  29.000     0.512  180609  924
27  8.0  38.000     0.000     366    0
28  8.0  39.000     0.403   11169   45
29  8.0  40.000     0.000      10    0
30  9.0  11.000     0.000       2    0
31  9.0  12.000     0.000       2    0
32  9.0  26.000     0.000      16    0
33  9.0  27.000     0.000      15    0
34  9.0  28.000     0.000       5    0
35  9.0  29.000     0.000     180    0
36  9.0  38.000     0.000       1    0
37  9.0  39.000     0.000      17    0

Analyzing station 11.0
       s       d  err_rate   count  sum
0    6.0  26.000     0.000      15    0
1    6.0  27.000     0.000       8    0
2    6.0  28.000     0.000       2    0
3    6.0  29.000     0.000     127    0
4    6.0  39.000     0.000       6    0
5    7.0  24.100     0.000       1    0
6    7.0  26.000     0.000       5    0
7    7.0  27.000     0.000       9    0
8    7.0  29.000     0.000     108    0
9    7.0  38.000     0.000       1    0
10   7.0  39.000     0.000       8    0
11   8.0  12.000     0.772     259    2
12   8.0  17.000     0.000       1    0
13   8.0  24.100     0.000     136    0
14   8.0  24.200     0.000      99    0
15   8.0  24.300     0.195     513    1
16   8.0  24.304     0.000       1    0
17   8.0  24.306     0.000       1    0
18   8.0  24.308     0.000       2    0
19   8.0  24.310     0.000       2    0
20   8.0  24.311     0.000       1    0
21   8.0  25.100     0.952     105    1
22   8.0  25.201     0.000       1    0
23   8.0  25.202     0.000      30    0
24   8.0  25.211     0.000       3    0
25   8.0  25.212     0.000       1    0
26   8.0  26.000     0.660   15306  101
27   8.0  27.000     0.715   13989  100
28   8.0  28.000     0.541    1109    6
29   8.0  29.000     0.498  181193  902
30   8.0  38.000     0.829     362    3
31   8.0  39.000     0.664   11291   75
32   8.0  40.000     0.000       4    0
33   9.0  12.000     0.000       1    0
34   9.0  26.000     0.000      23    0
35   9.0  27.000     0.000       8    0
36   9.0  28.000     0.000       1    0
37   9.0  29.000     0.980     204    2
38   9.0  39.000     0.000      17    0
39  10.0  12.000     0.000       2    0
40  10.0  26.000     0.000      35    0
41  10.0  27.000     0.000      22    0
42  10.0  28.000     0.000       3    0
43  10.0  29.000     0.000     418    0
44  10.0  38.000     0.000       1    0
45  10.0  39.000     0.000      18    0

Analyzing station 12.0
      s     d  err_rate   count   sum
0  -1.0  13.0     0.545  241261  1314
1   9.0  13.0     1.515     264     4
2  10.0  13.0     1.095     274     3
3  11.0  13.0     0.763     262     2

Analyzing station 13.0
      s     d  err_rate   count  sum
0  -1.0  14.0     0.000       2    0
1  -1.0  15.0     0.000       2    0
2  12.0  14.0     0.565  120621  681
3  12.0  15.0     0.527  121361  640
4  12.0  16.0     2.222      45    1
5  12.0  17.0     2.941      34    1

Analyzing station 14.0
      s     d  err_rate  count  sum
0  -1.0  16.0     0.000      1    0
1  -1.0  17.0     0.000      1    0
2  13.0  15.0     0.000     78    0
3  13.0  16.0     0.582  59329  345
4  13.0  17.0     0.549  61213  336
5  13.0  18.0     0.000      2    0
6  13.0  19.0     0.000      1    0

Analyzing station 15.0
      s     d  err_rate  count  sum
0  -1.0  16.0     0.000      2    0
1  -1.0  17.0     0.000      2    0
2  13.0  16.0     0.527  59716  315
3  13.0  17.0     0.527  61644  325
4  13.0  18.0     0.000      1    0
5  13.0  19.0     0.000      2    0
6  14.0  16.0     0.000     35    0
7  14.0  17.0     0.000     43    0

Analyzing station 16.0
      s     d  err_rate  count  sum
0  -1.0  18.0     0.000      5    0
1  -1.0  19.0     0.000      6    0
2  13.0  18.0     0.000     23    0
3  13.0  19.0     4.545     22    1
4  14.0  17.0     0.000     35    0
5  14.0  18.0     0.542  29722  161
6  14.0  19.0     0.622  29573  184
7  15.0  17.0     0.000     42    0
8  15.0  18.0     0.506  30055  152
9  15.0  19.0     0.550  29656  163

Analyzing station 17.0
       s     d  err_rate  count  sum
0   -1.0  18.0     0.000      7    0
1   -1.0  19.0     0.000      4    0
2   10.0  19.0     0.000      1    0
3   11.0  18.0     0.000      1    0
4   13.0  18.0     5.556     18    1
5   13.0  19.0     0.000     16    0
6   14.0  18.0     0.578  30601  177
7   14.0  19.0     0.519  30613  159
8   15.0  18.0     0.533  30602  163
9   15.0  19.0     0.521  31087  162
10  16.0  18.0     0.000     36    0
11  16.0  19.0     0.000     41    0

Analyzing station 18.0
      s     d  err_rate  count  sum
0  -1.0  20.0     0.000      8    0
1  14.0  20.0     0.000      2    0
2  15.0  20.0     0.000      1    0
3  16.0  20.0     0.523  59805  313
4  17.0  19.0     0.000      1    0
5  17.0  20.0     0.557  61264  341

Analyzing station 19.0
      s     d  err_rate  count  sum
0  -1.0  20.0     0.000      4    0
1  14.0  20.0     0.000      1    0
2  15.0  20.0     0.000      2    0
3  16.0  20.0     0.587  59257  348
4  17.0  20.0     0.520  61762  321
5  18.0  20.0     0.000      1    0

Analyzing station 20.0
      s     d  err_rate  count  sum
0  -1.0  21.0     0.000      1    0
1  -1.0  22.0     0.000      1    0
2  -1.0  23.0     0.000      1    0
3  10.0  21.0     0.000      1    0
4  18.0  21.0     0.488  40588  198
5  18.0  22.0     0.566  40291  228
6  18.0  23.0     0.567  40201  228
7  19.0  21.0     0.644  40817  263
8  19.0  22.0     0.497  40248  200
9  19.0  23.0     0.515  39962  206

Analyzing station 21.0
       s       d  err_rate  count  sum
0   -1.0  29.000     0.000      2    0
1   20.0  22.000     0.000     60    0
2   20.0  23.000     0.000     46    0
3   20.0  24.100     1.266     79    1
4   20.0  24.200     0.000     66    0
5   20.0  24.300     1.429     70    1
6   20.0  25.100     0.000     11    0
7   20.0  25.201     0.000      1    0
8   20.0  25.202     0.000      7    0
9   20.0  25.211     0.000      2    0
10  20.0  26.000     0.855   3042   26
11  20.0  27.000     0.832   3487   29
12  20.0  28.000     0.656    305    2
13  20.0  29.000     0.553  68574  379
14  20.0  38.000     0.000    155    0
15  20.0  39.000     0.418   5498   23
16  20.0  40.000     0.000      4    0

Analyzing station 22.0
       s       d  err_rate  count  sum
0   -1.0  29.000     0.000      1    0
1   20.0  23.000     0.000     77    0
2   20.0  24.100     0.000     81    0
3   20.0  24.200     0.000     64    0
4   20.0  24.300     0.000     50    0
5   20.0  25.100     0.000     17    0
6   20.0  25.201     0.000      1    0
7   20.0  25.202     0.000      6    0
8   20.0  25.211     0.000      3    0
9   20.0  25.222     0.000      1    0
10  20.0  26.000     0.508   2954   15
11  20.0  27.000     1.071   3549   38
12  20.0  28.000     0.000    278    0
13  20.0  29.000     0.515  67932  350
14  20.0  38.000     0.629    159    1
15  20.0  39.000     0.447   5367   24
16  20.0  40.000     0.000      1    0
17  21.0  23.000     0.000      1    0
18  21.0  26.000     0.000      3    0
19  21.0  27.000     0.000      3    0
20  21.0  29.000     0.000     50    0
21  21.0  39.000     0.000      3    0

Analyzing station 23.0
       s       d  err_rate  count  sum
0   -1.0  29.000     0.000      2    0
1   20.0  24.100     1.099     91    1
2   20.0  24.200     0.000     70    0
3   20.0  24.300     1.562     64    1
4   20.0  25.100     0.000      6    0
5   20.0  25.201     0.000      1    0
6   20.0  25.202     0.000      8    0
7   20.0  25.211     0.000      1    0
8   20.0  26.000     0.883   2946   26
9   20.0  27.000     1.047   3440   36
10  20.0  28.000     0.307    326    1
11  20.0  29.000     0.495  67630  335
12  20.0  38.000     0.613    163    1
13  20.0  39.000     0.591   5414   32
14  20.0  40.000    25.000      4    1
15  21.0  26.000     0.000      4    0
16  21.0  27.000     0.000      1    0
17  21.0  29.000     0.000     35    0
18  21.0  39.000     0.000      6    0
19  22.0  26.000     0.000      5    0
20  22.0  27.000     0.000      4    0
21  22.0  29.000     0.000     66    0
22  22.0  39.000     0.000      3    0

Analyzing station 24.1
      s       d  err_rate  count  sum
0  -1.0  24.101     0.554  23109  128
1  -1.0  24.103     0.000     35    0
2   9.0  24.101     0.000    168    0
3  10.0  24.101     0.000    162    0
4  11.0  24.101     0.000    137    0
5  21.0  24.101     1.266     79    1
6  22.0  24.101     0.000     81    0
7  23.0  24.101     1.111     90    1
8  23.0  24.103     0.000      1    0

Analyzing station 24.101
      s       d  err_rate  count  sum
0  24.1  24.102     0.546  23826  130

Analyzing station 24.102
        s       d  err_rate  count  sum
0  24.101  24.103     0.546  23805  130
1  24.101  24.300     0.000     21    0

Analyzing station 24.103
        s       d  err_rate  count  sum
0  24.100  24.105     0.000     36    0
1  24.102  24.104     0.000      2    0
2  24.102  24.105     0.542  23800  129
3  24.102  24.106    33.333      3    1

Analyzing station 24.104
        s     d  err_rate  count  sum
0  24.103  24.3         0      2    0

Analyzing station 24.105
        s       d  err_rate  count  sum
0  24.103  24.106     0.541  23836  129

Analyzing station 24.106
        s       d  err_rate  count  sum
0  24.103  24.107    33.333      3    1
1  24.105  24.107     0.541  23836  129

Analyzing station 24.107
        s       d  err_rate  count  sum
0  24.106  24.108     0.482  11834   57
1  24.106  24.109     0.608  12004   73
2  24.106  24.200     0.000      1    0

Analyzing station 24.108
        s       d  err_rate  count  sum
0  24.107  24.109     0.482  11825   57
1  24.107  24.200     0.000      9    0

Analyzing station 24.109
        s       d  err_rate  count  sum
0  24.107  24.110     0.637   6275   40
1  24.107  24.111     0.576   5729   33
2  24.108  24.110     0.423   5676   24
3  24.108  24.111     0.537   6149   33

Analyzing station 24.11
        s       d  err_rate  count  sum
0  24.109  24.111     0.536  11949   64
1  24.109  24.200     0.000      2    0

Analyzing station 24.111
         s       d  err_rate  count  sum
0   24.109  24.200     4.762     21    1
1   24.109  24.300     0.000     14    0
2   24.109  25.100     0.000      2    0
3   24.109  25.202     0.000      2    0
4   24.109  25.222     0.000      2    0
5   24.109  26.000     0.524   4768   25
6   24.109  27.000     0.413   6531   27
7   24.109  28.000     6.667     15    1
8   24.109  29.000     2.339    513   12
9   24.109  30.000     0.000      6    0
10  24.109  47.000     0.000      4    0
11  24.110  24.200     0.000     16    0
12  24.110  24.300     3.846     26    1
13  24.110  25.100     0.000      9    0
14  24.110  25.202     0.000      5    0
15  24.110  25.211     0.000      3    0
16  24.110  25.222    16.667      6    1
17  24.110  26.000     0.840   4762   40
18  24.110  27.000     0.243   6591   16
19  24.110  28.000    12.500      8    1
20  24.110  29.000     0.965    518    5
21  24.110  30.000     0.000      2    0
22  24.110  47.000     0.000      3    0

Analyzing station 24.2
         s       d  err_rate  count  sum
0   -1.000  24.201     0.750  26665  200
1   -1.000  24.202     0.000     24    0
2   -1.000  24.300     0.000      1    0
3    9.000  24.201     1.961    102    2
4   10.000  24.201     1.149     87    1
5   11.000  24.201     0.000     99    0
6   21.000  24.201     0.000     66    0
7   22.000  24.201     0.000     64    0
8   23.000  24.201     0.000     70    0
9   24.107  24.201     0.000      1    0
10  24.108  24.201     0.000      9    0
11  24.110  24.201     0.000      2    0
12  24.111  24.201     0.000     12    0
13  24.111  24.300     4.000     25    1

Analyzing station 24.201
      s       d  err_rate  count  sum
0  24.2  24.202     0.747  27177  203

Analyzing station 24.202
        s       d  err_rate  count  sum
0  24.200  24.203     0.000     24    0
1  24.201  24.203     0.747  27177  203

Analyzing station 24.203
        s       d  err_rate  count  sum
0  24.202  24.205     0.746  27197  203
1  24.202  24.300     0.000      4    0

Analyzing station 24.205
        s       d  err_rate  count  sum
0  24.203  24.206     0.746  27197  203

Analyzing station 24.206
        s       d  err_rate  count  sum
0  24.205  24.207     0.746  27195  203
1  24.205  24.300     0.000      2    0

Analyzing station 24.207
        s       d  err_rate  count  sum
0  24.206  24.208     0.781  21498  168
1  24.206  24.209     0.616   5679   35
2  24.206  24.300     0.000     18    0

Analyzing station 24.208
        s       d  err_rate  count  sum
0  24.207  24.209     0.782  21476  168
1  24.207  24.300     0.000     22    0

Analyzing station 24.209
        s       d  err_rate  count  sum
0  24.207  24.210     0.616   5679   35
1  24.208  24.210     0.808   7917   64
2  24.208  24.211     0.767  13559  104

Analyzing station 24.21
        s       d  err_rate  count  sum
0  24.209  24.211     0.728  13593   99
1  24.209  24.300     0.000      3    0

Analyzing station 24.211
         s       d  err_rate  count  sum
0   24.209  24.300     4.255     47    2
1   24.209  25.100     0.000      4    0
2   24.209  25.212     0.000      1    0
3   24.209  25.222     0.000      8    0
4   24.209  26.000     0.876   9243   81
5   24.209  27.000     0.517   3096   16
6   24.209  28.000     0.638    627    4
7   24.209  29.000     0.194    516    1

In [14]:
# Filter and group paths with low count
for station in source_stations.columns:
    s = source_stations.loc[ids.Id, str(station)]
    d = destination_stations.loc[ids.Id, str(station)]
    
    # Create a dataframe
    df = pd.DataFrame({'s':s, 'd':d, 'r':y.Response}, index=ids.Id)
    
    # Transform to feature according following rules
    # sum r < 10: s: 1 d: 1
    # sum r >= 10:
    #   err rate: <0.45: s: 2 d: 2
    #   err rate: >=0.45 <0.9 s: 3 d:3
    #   err rate  >=0.9 actual
    df_agg = df.groupby(['s','d']).agg([err_rate,'count','sum'])
    df_agg.columns = df_agg.columns.droplevel()
    df_agg.reset_index(inplace=True)
    
    df_agg['val'] = df_agg['s'].astype(str) + '-' + df_agg['d'].astype(str)
    df_agg.loc[df_agg['sum']<10,['val']] = '1'
    df_agg.loc[(df_agg['sum']>=10) & (df_agg['err_rate']<0.9), ['val']] = '3'
    df_agg.loc[(df_agg['sum']>=10) & (df_agg['err_rate']<0.45), ['val']] = '2'
    df_agg_fin = df_agg.groupby(['val']).agg({'err_rate':'mean','sum':'sum','count':'sum'})
    
    
    if df_agg_fin.shape[0]>2:
        #df_agg[(df_agg['sum']>=10) & (df_agg['err_rate']0.45)][['s','d']]==2
        # Print those where there are significant difference between source/destination station
        print('Analyzing station {}'.format(station))
        #print df.groupby(['s','d']).agg([err_rate,'count','sum'])
        print df_agg_fin
        print('')
        
        # Store result
        #tmp = df.set_index(['s','d']).merge(df_agg.set_index(['s','d'])[['val']], left_index=True, right_index=True, how='left')
        #pd.get_dummies(tmp, 'S{:d}_path_'.format(station)).astype(int).to_csv('feat_set_comb_station_S{:d}.csv'.format(s), 
        #                                                      index_col='ID')

Analyzing station 9.0
      count   sum  err_rate
val
1      2337    12     1.934
2     11304    45     0.398
3    212038  1139     0.711

Analyzing station 10.0
      count   sum  err_rate
val
1      3636    21     3.434
2     11169    45     0.403
3    209735  1157     0.703

Analyzing station 21.0
     count  sum  err_rate
val
1      808    4     0.258
2     5498   23     0.418
3    75103  434     0.746

Analyzing station 22.0
           count  sum  err_rate
val
1            799    1     0.035
2           5367   24     0.447
20.0-27.0   3549   38     1.071
3          70886  365     0.512

Analyzing station 23.0
           count  sum  err_rate
val
1            860    5     1.504
20.0-27.0   3440   36     1.047
3          75990  393     0.656

Analyzing station 24.111
             count  sum  err_rate
val
1              662   10     2.523
2            13122   43     0.328
24.109-29.0    513   12     2.339
3             9530   65     0.682

Analyzing station 24.308
               count  sum  err_rate
val
1                  4    0     0.000
24.307-24.309  66480  620     0.933
3              37341  325     0.870

Analyzing station 24.311
             count  sum  err_rate
val
1             1776   11     7.025
24.309-26.0  47066  437     0.928
24.309-29.0   5413   67     1.238
24.31-28.0    1026   18     1.754
24.31-29.0    5417   63     1.163
3            72224  596     0.818

Analyzing station 25.106
     count  sum  err_rate
val
1      135    0     0.000
2    14766   59     0.400
3    40486  224     0.579

Analyzing station 25.11
     count  sum  err_rate
val
1     2444   24     0.854
2    15749   69     0.438
3    36799  189     0.543

Analyzing station 25.21
             count  sum  err_rate
val
1             1968    4     0.837
25.208-26.0   2501   25     1.000
3             2593   21     0.810

Analyzing station 25.222
     count  sum  err_rate
val
1     3975   23     0.896
2     8039   36     0.448
3     5764   35     0.617

Analyzing station 27.0
           count  sum  err_rate
val
1           6671   46     0.495
2          28341  105     0.367
22.0-29.0   3481   34     0.977
23.0-29.0   3378   33     0.977
3          78858  604     0.720

Analyzing station 28.0
             count  sum  err_rate
val
1             6530   33     0.817
24.311-29.0   1950   24     1.231
9.0-29.0      1103   10     0.907

Analyzing station 29.0
               count   sum  err_rate
val
-1.0-30.0       2080    29     1.394
1               3311    15     6.287
24.111-30.0     1030    17     1.650
24.311-30.0    10821   130     1.201
3            1102387  6355     0.576

Analyzing station 30.0
             count   sum  err_rate
val
1             1506    13     4.190
2            38923   106     0.272
29.0-32.0    23279  1071     4.601
3          1056103  5361     0.508

Analyzing station 31.0
           count  sum  err_rate
val
1             34    0     0.000
2          37770   74     0.196
30.0-32.0   1199   32     2.669

Analyzing station 32.0
           count  sum  err_rate
val
1           1239   10     5.616
3          17029   90     0.529
30.0-34.0   1863  171     9.179
30.0-35.0   1948  368    18.891
30.0-36.0   2281  443    19.421
31.0-35.0     88   12    13.636
31.0-36.0     95   12    12.632

Analyzing station 33.0
       count   sum  err_rate
val
1       2931    12     0.185
2      37740    74     0.196
3    1074024  5460     0.510

Analyzing station 34.0
             count   sum  err_rate
val
1               29     2     2.500
3          1113124  5539     0.498
32.0-35.0      960    87     9.062
32.0-36.0     1005    90     8.955

Analyzing station 35.0
            count   sum  err_rate
val
1            1264     3     0.059
3          548746  2783     0.507
32.0-37.0    2038   381    18.695
34.0-36.0      60    10    16.667

Analyzing station 36.0
            count   sum  err_rate
val
1            1184     6     5.656
3          565410  2920     0.516
32.0-37.0    2377   455    19.142
35.0-37.0      61    10    16.393

Analyzing station 37.0
             count   sum  err_rate
val
1              204     2     2.105
3          1107421  6435     0.606
35.0-38.0    12770   119     0.932

Analyzing station 39.0
           count  sum  err_rate
val
1           2130    9     0.210
2          33379  137     0.416
27.0-40.0   2899   28     0.966
3          21500  129     0.572

In [29]:
df_agg[['val']].head(20)

   val
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
10   1
11   1
12   1
13   1
14   1
15   1
16   1
17   1
18   1
19   1

In [27]:
df.set_index(['s','d']).head(20)

          r
s   d
NaN NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
    NaN   0
8.0 29.0  0
    29.0  0
    29.0  0
    29.0  0
    29.0  0
NaN NaN   0
    NaN   0
    NaN   0
    NaN   0

In [53]:
df.groupby(['s','d']).agg([err_rate,'count','sum'])

                 r
          err_rate  count  sum
s    d
48.0 -1.0    0.000      4    0
49.0 -1.0    0.488  29512  144
50.0 -1.0    0.521  30337  158

In [56]:
df_agg = df.groupby(['s','d']).agg([err_rate,'count','sum'])
df_agg.columns = df_agg.columns.droplevel()
df_agg.reset_index(inplace=True)
df_agg.loc[df_agg['sum']<10,['s','d']] = 1
df_agg.loc[(df_agg['sum']>=10) & (df_agg['err_rate']<0.9), ['s','d']] = 3
df_agg.loc[(df_agg['sum']>=10) & (df_agg['err_rate']<0.45), ['s','d']] = 2

In [59]:
df_agg.groupby(['s','d']).agg({'err_rate':'mean','sum':'sum','count':'sum'})

         count  sum  err_rate
s   d
1.0 1.0      4    0     0.000
3.0 3.0  59849  302     0.504

In [57]:
df_agg.head()

     s    d  err_rate  count  sum
0  1.0  1.0     0.000      4    0
1  3.0  3.0     0.488  29512  144
2  3.0  3.0     0.521  30337  158

## Analyze numeric values per station

In [51]:
station = 28.

cols_num = [int(x) for x in lut[lut['station_V2']==station].col_num if not np.isnan(x)]

print('Analyzing station {} ({} features)'.format(station, len(cols_num)))
print('')

for col_num in cols_num:
    
    print('Feature num: {}'.format(col_num))

    # Get numeric values for this feature
    f_num = X_num[:, col_num].todense().A1
    f_num[f_num==0] = np.nan

    s = source_stations.loc[ids.Id, str(station)]
    d = destination_stations.loc[ids.Id, str(station)]


    # Create a dataframe
    df = pd.DataFrame({'num': f_num,'s':s, 'd':d, 'r':y.Response})

    print(df.groupby(['s','d']).agg({'num':['mean','std','min','max', 'skew'], 'r': [err_rate,'count','sum']}))
    print('')

Analyzing station 28.0 (14 features)

Feature num: 709
                    r                  num
             err_rate count sum       mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0 -1.361e-01  0.028 -0.212 -0.064 -0.087
 9.000  29.0    0.907  1103  10  1.691e-02  0.216 -0.405  0.521 -0.346
        39.0    0.000     9   0  2.336e-01  0.017  0.200  0.256 -0.796
 10.000 29.0    0.369  1084   4  1.495e-02  0.222 -0.399  0.517 -0.283
        39.0    0.000    20   0  2.490e-01  0.022  0.199  0.291 -0.080
 11.000 29.0    0.547  1096   6 -9.954e-04  0.224 -0.399  0.504 -0.250
        39.0    0.000    19   0  2.422e-01  0.022  0.209  0.294  0.600
 21.000 29.0    0.664   301   2 -4.219e-03  0.201 -0.378  0.461  0.112
        39.0    0.000     4   0  2.592e-01  0.035  0.215  0.296 -0.534
 22.000 29.0    0.000   276   0 -9.384e-03  0.195 -0.374  0.481  0.263
        39.0    0.000     2   0  2.280e-01  0.000  0.228  0.228    NaN
 23.000 29.0    0.309   324   1 -2.290e-02  0.192 -0.379  0.457  0.224
        39.0    0.000     2   0  2.335e-01  0.026  0.215  0.252    NaN
 24.111 29.0    0.000     1   0  9.400e-02    NaN  0.094  0.094    NaN
        30.0    9.091    22   2 -7.909e-02  0.227 -0.338  0.255  0.174
 24.211 29.0    0.421  1187   5  1.881e-02  0.159 -0.441  0.199 -2.107
        30.0    0.000     6   0 -3.017e-02  0.222 -0.380  0.281 -0.324
        38.0    0.000     2   0  9.000e-02  0.007  0.085  0.095    NaN
        39.0    8.000    25   2  8.352e-02  0.017  0.050  0.119  0.038
 24.311 29.0    1.231  1950  24  1.654e-02  0.183 -0.458  0.429 -1.378
        30.0    0.000    21   0 -1.257e-02  0.187 -0.350  0.255 -0.573
        39.0    0.000    22   0  7.773e-02  0.020  0.042  0.117 -0.069
 25.108 29.0    0.000     1   0  8.900e-02    NaN  0.089  0.089    NaN
 25.109 29.0    0.000     1   0  1.200e-02    NaN  0.012  0.012    NaN
 25.110 29.0    0.841   951   8 -4.968e-02  0.166 -0.442  0.265 -1.072
        30.0    0.000     3   0  2.650e-01  0.184  0.155  0.478  1.729
        38.0    0.000     3   0  8.967e-02  0.021  0.068  0.110 -0.284
        39.0    1.042    96   1  8.928e-02  0.021  0.016  0.133 -0.395
 25.210 29.0    0.000   450   0  4.963e-02  0.087 -0.437  0.174 -2.557
        30.0    0.000     1   0  6.600e-02    NaN  0.066  0.066    NaN
        38.0    0.000     1   0  1.050e-01    NaN  0.105  0.105    NaN
        39.0    0.000    53   0  8.602e-02  0.019  0.027  0.120 -0.503
 25.220 29.0    0.000    46   0 -2.840e-01  0.155 -0.393  0.089  1.920
 25.226 29.0    0.000     2   0 -1.055e-01  0.053 -0.143 -0.068    NaN
 25.228 29.0    0.000     1   0 -1.050e-01    NaN -0.105 -0.105    NaN
 25.230 29.0    0.000   301   0 -7.132e-02  0.204 -0.472  0.144 -0.751
        30.0    0.000     2   0  2.580e-01  0.233  0.093  0.423    NaN
 26.000 29.0    4.167    24   1 -6.312e-02  0.197 -0.410  0.115 -0.788
 27.000 29.0    4.762    21   1 -1.146e-01  0.142 -0.211  0.384  2.766

Feature num: 710
                    r              num
             err_rate count sum   mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0 -0.024  0.045 -0.127  0.054 -0.289
 9.000  29.0    0.907  1103  10 -0.001  0.133 -0.317  0.613  1.196
        39.0    0.000     9   0 -0.007  0.021 -0.055  0.022 -1.341
 10.000 29.0    0.369  1084   4 -0.003  0.133 -0.323  0.614  1.126
        39.0    0.000    20   0  0.007  0.016 -0.020  0.036 -0.321
 11.000 29.0    0.547  1096   6  0.003  0.140 -0.326  0.622  1.261
        39.0    0.000    19   0  0.015  0.017 -0.021  0.040 -0.208
 21.000 29.0    0.664   301   2  0.010  0.167 -0.305  0.572  1.022
        39.0    0.000     4   0  0.010  0.017 -0.015  0.024 -1.529
 22.000 29.0    0.000   276   0  0.009  0.163 -0.297  0.581  0.762
        39.0    0.000     2   0  0.008  0.000  0.008  0.008    NaN
 23.000 29.0    0.309   324   1  0.015  0.162 -0.257  0.566  0.886
        39.0    0.000     2   0  0.031  0.019  0.017  0.044    NaN
 24.111 29.0    0.000     1   0  0.086    NaN  0.086  0.086    NaN
        30.0    9.091    22   2  0.009  0.202 -0.276  0.372  0.448
 24.211 29.0    0.421  1187   5 -0.150  0.260 -0.336  0.622  1.919
        30.0    0.000     6   0  0.008  0.304 -0.309  0.552  1.218
        38.0    0.000     2   0  0.084  0.005  0.081  0.088    NaN
        39.0    8.000    25   2  0.092  0.013  0.065  0.117  0.267
 24.311 29.0    1.231  1950  24  0.046  0.228 -0.358  0.593  0.303
        30.0    0.000    21   0  0.016  0.093 -0.227  0.165 -0.695
        39.0    0.000    22   0  0.093  0.018  0.062  0.138  0.387
 25.108 29.0    0.000     1   0 -0.092    NaN -0.092 -0.092    NaN
 25.109 29.0    0.000     1   0  0.097    NaN  0.097  0.097    NaN
 25.110 29.0    0.841   951   8  0.108  0.204 -0.315  0.592  1.006
        30.0    0.000     3   0 -0.047  0.050 -0.094  0.005  0.506
        38.0    0.000     3   0 -0.053  0.014 -0.069 -0.044 -1.692
        39.0    1.042    96   1 -0.065  0.019 -0.114 -0.028 -0.510
 25.210 29.0    0.000   450   0 -0.094  0.179 -0.312  0.542  0.353
        30.0    0.000     1   0  0.330    NaN  0.330  0.330    NaN
        38.0    0.000     1   0 -0.042    NaN -0.042 -0.042    NaN
        39.0    0.000    53   0 -0.080  0.021 -0.138 -0.039 -0.297
 25.220 29.0    0.000    46   0  0.433  0.305 -0.291  0.599 -1.989
 25.226 29.0    0.000     2   0  0.009  0.037 -0.017  0.036    NaN
 25.228 29.0    0.000     1   0  0.044    NaN  0.044  0.044    NaN
 25.230 29.0    0.000   301   0 -0.027  0.335 -0.347  0.564  0.928
        30.0    0.000     2   0  0.025  0.015  0.015  0.036    NaN
 26.000 29.0    4.167    24   1  0.112  0.280 -0.305  0.560  0.076
 27.000 29.0    4.762    21   1 -0.061  0.045 -0.115  0.068  1.429

Feature num: 711
                    r                  num
             err_rate count sum       mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0  9.364e-02  0.131 -0.378  0.413 -0.636
 9.000  29.0    0.907  1103  10 -3.584e-02  0.149 -0.505  0.412 -0.068
        39.0    0.000     9   0 -2.456e-02  0.173 -0.413  0.147 -1.629
 10.000 29.0    0.369  1084   4 -3.417e-02  0.151 -0.496  0.432 -0.018
        39.0    0.000    20   0 -4.600e-02  0.120 -0.181  0.172  0.428
 11.000 29.0    0.547  1096   6 -3.893e-02  0.144 -0.558  0.414 -0.103
        39.0    0.000    19   0 -1.361e-01  0.134 -0.353  0.191  0.574
 21.000 29.0    0.664   301   2  4.130e-03  0.143 -0.484  0.429 -0.255
        39.0    0.000     4   0 -1.308e-01  0.091 -0.252 -0.041 -0.855
 22.000 29.0    0.000   276   0  1.746e-02  0.148 -0.545  0.407 -0.521
        39.0    0.000     2   0 -5.600e-02  0.000 -0.056 -0.056    NaN
 23.000 29.0    0.309   324   1  1.376e-02  0.128 -0.449  0.324 -0.456
        39.0    0.000     2   0 -2.450e-01  0.133 -0.339 -0.151    NaN
 24.111 29.0    0.000     1   0 -1.190e-01    NaN -0.119 -0.119    NaN
        30.0    9.091    22   2 -4.377e-02  0.112 -0.229  0.221  0.305
 24.211 29.0    0.421  1187   5  3.345e-04  0.136 -0.461  0.406 -0.264
        30.0    0.000     6   0 -5.450e-02  0.154 -0.258  0.098 -0.272
        38.0    0.000     2   0  6.500e-02  0.110 -0.013  0.143    NaN
        39.0    8.000    25   2  7.920e-03  0.081 -0.173  0.143 -0.563
 24.311 29.0    1.231  1950  24  2.808e-02  0.131 -0.499  0.421 -0.223
        30.0    0.000    21   0 -6.114e-02  0.220 -0.535  0.402  0.325
        39.0    0.000    22   0  4.036e-02  0.093 -0.095  0.218  0.494
 25.108 29.0    0.000     1   0  6.800e-02    NaN  0.068  0.068    NaN
 25.109 29.0    0.000     1   0  5.600e-02    NaN  0.056  0.056    NaN
 25.110 29.0    0.841   951   8  2.798e-02  0.114 -0.450  0.352 -0.007
        30.0    0.000     3   0 -4.767e-02  0.163 -0.205  0.121  0.311
        38.0    0.000     3   0 -7.800e-02  0.211 -0.222  0.164  1.640
        39.0    1.042    96   1  1.808e-02  0.108 -0.277  0.293 -0.213
 25.210 29.0    0.000   450   0  2.857e-02  0.129 -0.428  0.381  0.028
        30.0    0.000     1   0  1.840e-01    NaN  0.184  0.184    NaN
        38.0    0.000     1   0  1.200e-01    NaN  0.120  0.120    NaN
        39.0    0.000    53   0  8.868e-04  0.115 -0.234  0.221  0.071
 25.220 29.0    0.000    46   0 -6.489e-02  0.123 -0.322  0.329  0.731
 25.226 29.0    0.000     2   0  8.400e-02  0.107  0.008  0.160    NaN
 25.228 29.0    0.000     1   0  8.600e-02    NaN  0.086  0.086    NaN
 25.230 29.0    0.000   301   0 -1.311e-02  0.118 -0.332  0.394 -0.041
        30.0    0.000     2   0 -3.550e-02  0.073 -0.087  0.016    NaN
 26.000 29.0    4.167    24   1  5.263e-02  0.128 -0.222  0.341 -0.071
 27.000 29.0    4.762    21   1  1.024e-02  0.127 -0.245  0.243 -0.190

Feature num: 712
                    r              num
             err_rate count sum   mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0 -0.043  0.106 -0.231  0.134 -0.217
 9.000  29.0    0.907  1103  10  0.010  0.124 -0.446  0.419  0.026
        39.0    0.000     9   0 -0.134  0.033 -0.192 -0.085 -0.210
 10.000 29.0    0.369  1084   4  0.004  0.125 -0.383  0.378  0.018
        39.0    0.000    20   0 -0.126  0.031 -0.155 -0.057  0.830
 11.000 29.0    0.547  1096   6  0.012  0.119 -0.379  0.462  0.015
        39.0    0.000    19   0 -0.142  0.045 -0.222 -0.066 -0.448
 21.000 29.0    0.664   301   2 -0.100  0.128 -0.446  0.343  0.190
        39.0    0.000     4   0 -0.240  0.019 -0.267 -0.222 -1.339
 22.000 29.0    0.000   276   0 -0.099  0.122 -0.446  0.292  0.051
        39.0    0.000     2   0 -0.222  0.000 -0.222 -0.222    NaN
 23.000 29.0    0.309   324   1 -0.095  0.109 -0.401  0.174  0.052
        39.0    0.000     2   0 -0.192  0.043 -0.222 -0.161    NaN
 24.111 29.0    0.000     1   0 -0.082    NaN -0.082 -0.082    NaN
        30.0    9.091    22   2  0.014  0.103 -0.261  0.243 -0.509
 24.211 29.0    0.421  1187   5  0.076  0.065 -0.158  0.334 -0.735
        30.0    0.000     6   0 -0.016  0.096 -0.140  0.110  0.017
        38.0    0.000     2   0 -0.089  0.007 -0.094 -0.084    NaN
        39.0    8.000    25   2 -0.086  0.008 -0.098 -0.072  0.129
 24.311 29.0    1.231  1950  24 -0.005  0.114 -0.483  0.393  0.105
        30.0    0.000    21   0  0.010  0.154 -0.271  0.268 -0.297
        39.0    0.000    22   0 -0.065  0.029 -0.086  0.046  3.264
 25.108 29.0    0.000     1   0 -0.110    NaN -0.110 -0.110    NaN
 25.109 29.0    0.000     1   0 -0.081    NaN -0.081 -0.081    NaN
 25.110 29.0    0.841   951   8 -0.027  0.087 -0.222  0.326  0.803
        30.0    0.000     3   0 -0.137  0.073 -0.198 -0.057  1.130
        38.0    0.000     3   0 -0.065  0.083 -0.115  0.031  1.725
        39.0    1.042    96   1 -0.112  0.038 -0.143  0.155  4.991
 25.210 29.0    0.000   450   0  0.023  0.090 -0.152  0.314 -0.312
        30.0    0.000     1   0  0.158    NaN  0.158  0.158    NaN
        38.0    0.000     1   0 -0.122    NaN -0.122 -0.122    NaN
        39.0    0.000    53   0 -0.105  0.031 -0.128  0.080  4.837
 25.220 29.0    0.000    46   0  0.030  0.057 -0.034  0.180  1.250
 25.226 29.0    0.000     2   0 -0.128  0.088 -0.191 -0.066    NaN
 25.228 29.0    0.000     1   0 -0.140    NaN -0.140 -0.140    NaN
 25.230 29.0    0.000   301   0  0.053  0.059 -0.121  0.247 -0.424
        30.0    0.000     2   0 -0.062  0.350 -0.310  0.185    NaN
 26.000 29.0    4.167    24   1 -0.014  0.107 -0.174  0.158 -0.032
 27.000 29.0    4.762    21   1  0.090  0.114 -0.289  0.329 -1.374

Feature num: 713
                    r              num
             err_rate count sum   mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0 -0.010  0.156 -0.036  0.935  5.936
 9.000  29.0    0.907  1103  10 -0.006  0.166 -0.036  0.945  5.437
        39.0    0.000     9   0  0.067  0.309 -0.036  0.892  3.000
 10.000 29.0    0.369  1084   4 -0.003  0.175 -0.036  0.960  5.141
        39.0    0.000    20   0  0.056  0.284 -0.036  0.887  2.888
 11.000 29.0    0.547  1096   6 -0.006  0.166 -0.036  0.941  5.419
        39.0    0.000    19   0  0.013  0.213 -0.036  0.891  4.359
 21.000 29.0    0.664   301   2 -0.001  0.180 -0.036  0.964  4.968
        39.0    0.000     4   0 -0.036  0.000 -0.036 -0.036  0.000
 22.000 29.0    0.000   276   0  0.020  0.225 -0.036  0.951  3.806
        39.0    0.000     2   0  0.883  0.000  0.883  0.883    NaN
 23.000 29.0    0.309   324   1  0.005  0.195 -0.036  0.952  4.517
        39.0    0.000     2   0  0.424  0.650 -0.036  0.883    NaN
 24.111 29.0    0.000     1   0 -0.036    NaN -0.036 -0.036    NaN
        30.0    9.091    22   2 -0.036  0.000 -0.036 -0.036  0.000
 24.211 29.0    0.421  1187   5  0.003  0.189 -0.036  0.928  4.618
        30.0    0.000     6   0  0.125  0.395 -0.036  0.931  2.449
        38.0    0.000     2   0 -0.036  0.000 -0.036 -0.036    NaN
        39.0    8.000    25   2 -0.036  0.000 -0.036 -0.036  0.000
 24.311 29.0    1.231  1950  24 -0.003  0.175 -0.036  0.929  5.075
        30.0    0.000    21   0 -0.036  0.000 -0.036 -0.036  0.000
        39.0    0.000    22   0 -0.036  0.000 -0.036 -0.036  0.000
 25.108 29.0    0.000     1   0 -0.036    NaN -0.036 -0.036    NaN
 25.109 29.0    0.000     1   0 -0.036    NaN -0.036 -0.036    NaN
 25.110 29.0    0.841   951   8  0.001  0.185 -0.036  0.932  4.777
        30.0    0.000     3   0 -0.036  0.000 -0.036 -0.036  0.000
        38.0    0.000     3   0 -0.036  0.000 -0.036 -0.036  0.000
        39.0    1.042    96   1 -0.036  0.000 -0.036 -0.036  0.000
 25.210 29.0    0.000   450   0 -0.010  0.155 -0.036  0.929  5.896
        30.0    0.000     1   0 -0.036    NaN -0.036 -0.036    NaN
        38.0    0.000     1   0 -0.036    NaN -0.036 -0.036    NaN
        39.0    0.000    53   0  0.018  0.221 -0.036  0.915  3.950
 25.220 29.0    0.000    46   0  0.026  0.237 -0.036  0.918  3.642
 25.226 29.0    0.000     2   0 -0.036  0.000 -0.036 -0.036    NaN
 25.228 29.0    0.000     1   0 -0.036    NaN -0.036 -0.036    NaN
 25.230 29.0    0.000   301   0 -0.001  0.178 -0.036  0.918  4.965
        30.0    0.000     2   0 -0.036  0.000 -0.036 -0.036    NaN
 26.000 29.0    4.167    24   1  0.042  0.266 -0.036  0.908  3.220
 27.000 29.0    4.762    21   1  0.055  0.286 -0.036  0.927  2.975

Feature num: 714
                    r              num
             err_rate count sum   mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0 -0.194  0.019 -0.261 -0.150 -0.561
 9.000  29.0    0.907  1103  10  0.108  0.158 -0.268  0.711 -0.825
        39.0    0.000     9   0  0.015  0.016 -0.011  0.040  0.033
 10.000 29.0    0.369  1084   4  0.102  0.156 -0.283  0.318 -0.815
        39.0    0.000    20   0  0.020  0.024 -0.031  0.072 -0.227
 11.000 29.0    0.547  1096   6  0.094  0.157 -0.258  0.315 -0.724
        39.0    0.000    19   0  0.009  0.025 -0.048  0.039 -0.767
 21.000 29.0    0.664   301   2 -0.082  0.148 -0.267  0.235  0.558
        39.0    0.000     4   0  0.054  0.018  0.032  0.075 -0.136
 22.000 29.0    0.000   276   0 -0.071  0.153 -0.281  0.225  0.479
        39.0    0.000     2   0  0.082  0.000  0.082  0.082    NaN
 23.000 29.0    0.309   324   1 -0.075  0.153 -0.255  0.242  0.561
        39.0    0.000     2   0  0.060  0.013  0.051  0.070    NaN
 24.111 29.0    0.000     1   0  0.157    NaN  0.157  0.157    NaN
        30.0    9.091    22   2  0.043  0.278 -0.184  0.694  1.596
 24.211 29.0    0.421  1187   5 -0.163  0.101 -0.260  0.222  2.640
        30.0    0.000     6   0 -0.100  0.135 -0.224  0.116  1.024
        38.0    0.000     2   0  0.169  0.007  0.164  0.174    NaN
        39.0    8.000    25   2  0.173  0.019  0.147  0.207  0.457
 24.311 29.0    1.231  1950  24  0.013  0.169 -0.254  0.314 -0.088
        30.0    0.000    21   0  0.093  0.148 -0.133  0.278 -0.578
        39.0    0.000    22   0  0.187  0.020  0.153  0.226  0.231
 25.108 29.0    0.000     1   0 -0.195    NaN -0.195 -0.195    NaN
 25.109 29.0    0.000     1   0  0.173    NaN  0.173  0.173    NaN
 25.110 29.0    0.841   951   8  0.022  0.175 -0.271  0.262 -0.235
        30.0    0.000     3   0  0.185  0.029  0.151  0.203 -1.711
        38.0    0.000     3   0 -0.192  0.029 -0.216 -0.160  1.225
        39.0    1.042    96   1 -0.182  0.018 -0.211 -0.124  0.865
 25.210 29.0    0.000   450   0 -0.051  0.190 -0.259  0.260  0.429
        30.0    0.000     1   0  0.698    NaN  0.698  0.698    NaN
        38.0    0.000     1   0 -0.175    NaN -0.175 -0.175    NaN
        39.0    0.000    53   0 -0.184  0.018 -0.230 -0.136 -0.050
 25.220 29.0    0.000    46   0 -0.142  0.033 -0.244 -0.063 -0.885
 25.226 29.0    0.000     2   0 -0.192  0.001 -0.193 -0.191    NaN
 25.228 29.0    0.000     1   0 -0.188    NaN -0.188 -0.188    NaN
 25.230 29.0    0.000   301   0 -0.173  0.075 -0.251  0.209  3.449
        30.0    0.000     2   0  0.111  0.269 -0.080  0.301    NaN
 26.000 29.0    4.167    24   1  0.017  0.171 -0.236  0.222 -0.257
 27.000 29.0    4.762    21   1 -0.135  0.133 -0.243  0.257  2.661

Feature num: 715
                    r              num
             err_rate count sum   mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0  0.055  0.114 -0.296  0.422  0.305
 9.000  29.0    0.907  1103  10  0.024  0.113 -0.286  0.510  0.330
        39.0    0.000     9   0  0.072  0.047  0.012  0.135  0.027
 10.000 29.0    0.369  1084   4  0.031  0.110 -0.302  0.490  0.182
        39.0    0.000    20   0  0.041  0.092 -0.224  0.161 -1.305
 11.000 29.0    0.547  1096   6  0.029  0.110 -0.263  0.451  0.342
        39.0    0.000    19   0  0.076  0.094 -0.114  0.216 -0.401
 21.000 29.0    0.664   301   2 -0.036  0.100 -0.287  0.440  0.380
        39.0    0.000     4   0  0.004  0.162 -0.160  0.214  0.679
 22.000 29.0    0.000   276   0 -0.037  0.105 -0.411  0.367  0.439
        39.0    0.000     2   0 -0.202  0.000 -0.202 -0.202    NaN
 23.000 29.0    0.309   324   1 -0.037  0.114 -0.332  0.558  0.923
        39.0    0.000     2   0 -0.062  0.084 -0.122 -0.003    NaN
 24.111 29.0    0.000     1   0  0.198    NaN  0.198  0.198    NaN
        30.0    9.091    22   2  0.033  0.082 -0.128  0.192  0.071
 24.211 29.0    0.421  1187   5 -0.081  0.109 -0.440  0.412  0.673
        30.0    0.000     6   0 -0.018  0.146 -0.212  0.118 -0.859
        38.0    0.000     2   0 -0.023  0.008 -0.028 -0.017    NaN
        39.0    8.000    25   2  0.004  0.087 -0.147  0.234  0.288
 24.311 29.0    1.231  1950  24 -0.004  0.116 -0.370  0.514  0.054
        30.0    0.000    21   0  0.088  0.123 -0.076  0.378  0.640
        39.0    0.000    22   0  0.007  0.098 -0.175  0.226  0.389
 25.108 29.0    0.000     1   0  0.033    NaN  0.033  0.033    NaN
 25.109 29.0    0.000     1   0  0.113    NaN  0.113  0.113    NaN
 25.110 29.0    0.841   951   8  0.055  0.107 -0.298  0.535  0.304
        30.0    0.000     3   0  0.033  0.193 -0.135  0.243  0.948
        38.0    0.000     3   0  0.031  0.084 -0.061  0.103 -0.984
        39.0    1.042    96   1 -0.053  0.072 -0.315  0.125 -0.635
 25.210 29.0    0.000   450   0 -0.031  0.122 -0.337  0.517  0.337
        30.0    0.000     1   0  0.098    NaN  0.098  0.098    NaN
        38.0    0.000     1   0 -0.142    NaN -0.142 -0.142    NaN
        39.0    0.000    53   0 -0.045  0.090 -0.295  0.176 -0.058
 25.220 29.0    0.000    46   0  0.060  0.110 -0.239  0.229 -1.064
 25.226 29.0    0.000     2   0  0.046  0.114 -0.035  0.126    NaN
 25.228 29.0    0.000     1   0  0.030    NaN  0.030  0.030    NaN
 25.230 29.0    0.000   301   0 -0.028  0.131 -0.312  0.336  0.256
        30.0    0.000     2   0  0.019  0.168 -0.099  0.138    NaN
 26.000 29.0    4.167    24   1 -0.038  0.100 -0.212  0.240  0.664
 27.000 29.0    4.762    21   1  0.121  0.142 -0.123  0.447  0.439

Feature num: 716
                    r              num
             err_rate count sum   mean    std    min    max   skew
s       d
-1.000  29.0    0.000   150   0  0.027  0.139 -0.202  0.254  0.028
 9.000  29.0    0.907  1103  10  0.029  0.158 -0.388  0.447  0.176
        39.0    0.000     9   0 -0.024  0.065 -0.186  0.019 -2.330
 10.000 29.0    0.369  1084   4  0.023  0.157 -0.388  0.491  0.226

## Analyze categorical value per station

In [31]:
for station in lut['station_V2'].unique():

    cols_cat = [int(x) for x in lut[lut['station_V2']==station]['col_cat'] if not np.isnan(x)]

    print('Analyzing station {} ({} features)'.format(station, len(cols_cat)))
    print('')

    for col_cat in cols_cat:


        f_nr = lut[lut['col_cat']==col_cat]['name_cat']

        print('Feature num: {}'.format(f_nr))

        # Get numeric values for this feature
        f_cat = X_cat[:, col_cat].todense().A1
        f_cat[f_cat==0] = np.nan

        s = source_stations.loc[ids.Id, str(station)]
        d = destination_stations.loc[ids.Id, str(station)]


        # Create a dataframe
        df = pd.DataFrame({'cat': f_cat,'s':s, 'd':d, 'r':y.Response})
        df_agg = df.groupby(['s','d']).agg({'cat':['mean','std','min','max', most, least], 'r': [err_rate,'count','sum']})
        print(df_agg[df_agg['r']['count']>500])
        print('')

Analyzing station 0.0 (0 features)

Analyzing station 1.0 (4 features)

Feature num: 13    L0_S1_F25
Name: name_cat, dtype: object
               r                cat
        err_rate   count   sum mean  std  min  max most least
s   d
0.0 2.0    0.535  338937  1812  1.0  0.0  1.0  1.0  1.0   1.0
    3.0    0.536  333623  1787  1.0  0.0  1.0  1.0  1.0   1.0

Feature num: 14    L0_S1_F27
Name: name_cat, dtype: object
               r                cat
        err_rate   count   sum mean  std  min  max most least
s   d
0.0 2.0    0.535  338937  1812  9.0  0.0  9.0  9.0  9.0   9.0
    3.0    0.536  333623  1787  9.0  0.0  9.0  9.0  9.0   9.0

Feature num: 16    L0_S1_F29
Name: name_cat, dtype: object
               r                cat
        err_rate   count   sum mean  std  min  max most least
s   d
0.0 2.0    0.535  338937  1812  1.0  0.0  1.0  1.0  1.0   1.0
    3.0    0.536  333623  1787  1.0  0.0  1.0  1.0  1.0   1.0

Feature num: 17    L0_S1_F31
Name: name_cat, dtype: object
               r                   cat
        err_rate   count   sum    mean     std  min   max most least
s   d
0.0 2.0    0.535  338937  1812  13.909  12.169  9.0  48.0  9.0  48.0
    3.0    0.536  333623  1787   9.000   0.000  9.0   9.0  9.0   9.0

Analyzing station 2.0 (18 features)

Feature num: 19    L0_S2_F33
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 20    L0_S2_F35
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 22    L0_S2_F37
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 23    L0_S2_F39
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 25    L0_S2_F41
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 26    L0_S2_F43
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 28    L0_S2_F45
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 29    L0_S2_F47
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 31    L0_S2_F49
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 32    L0_S2_F51
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 34    L0_S2_F53
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 35    L0_S2_F55
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 37    L0_S2_F57
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 38    L0_S2_F59
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 40    L0_S2_F61
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 41    L0_S2_F63
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 43    L0_S2_F65
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Feature num: 44    L0_S2_F67
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.536  168601  904  NaN NaN NaN NaN  NaN   NaN
    5.0    0.531  170446  905  NaN NaN NaN NaN  NaN   NaN

Analyzing station 3.0 (18 features)

Feature num: 46    L0_S3_F69
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 47    L0_S3_F71
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 49    L0_S3_F73
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 50    L0_S3_F75
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 52    L0_S3_F77
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 53    L0_S3_F79
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 55    L0_S3_F81
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 56    L0_S3_F83
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 58    L0_S3_F85
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 59    L0_S3_F87
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 61    L0_S3_F89
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 62    L0_S3_F91
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 64    L0_S3_F93
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 65    L0_S3_F95
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 67    L0_S3_F97
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 68    L0_S3_F99
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 70    L0_S3_F101
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Feature num: 71    L0_S3_F103
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
1.0 4.0    0.537  165922  891  NaN NaN NaN NaN  NaN   NaN
    5.0    0.534  168121  897  NaN NaN NaN NaN  NaN   NaN

Analyzing station 4.0 (6 features)

Feature num: 73    L0_S4_F105
Name: name_cat, dtype: object
               r              cat
        err_rate  count  sum mean std min max most least
s   d
2.0 6.0    0.537  84945  456  NaN NaN NaN NaN  NaN   NaN
    7.0    0.537  83790  450  NaN NaN NaN NaN  NaN   NaN
3.0 6.0    0.543  83374  453  NaN NaN NaN NaN  NaN   NaN
    7.0    0.529  82813  438  NaN NaN NaN NaN  NaN   NaN

Feature num: 74    L0_S4_F107
Name: name_cat, dtype: object
               r              cat
        err_rate  count  sum mean std min max most least
s   d
2.0 6.0    0.537  84945  456  NaN NaN NaN NaN  NaN   NaN
    7.0    0.537  83790  450  NaN NaN NaN NaN  NaN   NaN
3.0 6.0    0.543  83374  453  NaN NaN NaN NaN  NaN   NaN
    7.0    0.529  82813  438  NaN NaN NaN NaN  NaN   NaN

Feature num: 75    L0_S4_F108
Name: name_cat, dtype: object
               r              cat
        err_rate  count  sum mean std min max most least
s   d
2.0 6.0    0.537  84945  456  NaN NaN NaN NaN  NaN   NaN
    7.0    0.537  83790  450  NaN NaN NaN NaN  NaN   NaN
3.0 6.0    0.543  83374  453  NaN NaN NaN NaN  NaN   NaN
    7.0    0.529  82813  438  NaN NaN NaN NaN  NaN   NaN

Feature num: 77    L0_S4_F110
Name: name_cat, dtype: object
               r              cat
        err_rate  count  sum mean std min max most least
s   d
2.0 6.0    0.537  84945  456  NaN NaN NaN NaN  NaN   NaN
    7.0    0.537  83790  450  NaN NaN NaN NaN  NaN   NaN
3.0 6.0    0.543  83374  453  NaN NaN NaN NaN  NaN   NaN
    7.0    0.529  82813  438  NaN NaN NaN NaN  NaN   NaN

Feature num: 78    L0_S4_F112
Name: name_cat, dtype: object
               r              cat
        err_rate  count  sum mean std min max most least
s   d
2.0 6.0    0.537  84945  456  NaN NaN NaN NaN  NaN   NaN
    7.0    0.537  83790  450  NaN NaN NaN NaN  NaN   NaN
3.0 6.0    0.543  83374  453  NaN NaN NaN NaN  NaN   NaN
    7.0    0.529  82813  438  NaN NaN NaN NaN  NaN   NaN

Feature num: 79    L0_S4_F113
Name: name_cat, dtype: object
               r              cat
        err_rate  count  sum mean std min max most least
s   d
2.0 6.0    0.537  84945  456  NaN NaN NaN NaN  NaN   NaN
    7.0    0.537  83790  450  NaN NaN NaN NaN  NaN   NaN
3.0 6.0    0.543  83374  453  NaN NaN NaN NaN  NaN   NaN
    7.0    0.529  82813  438  NaN NaN NaN NaN  NaN   NaN

Analyzing station 5.0 (0 features)

Analyzing station 6.0 (10 features)

Feature num: 83    L0_S6_F119
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 84    L0_S6_F121
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 86    L0_S6_F123
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 87    L0_S6_F125
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 88    L0_S6_F126
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 89    L0_S6_F128
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 90    L0_S6_F129
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 91    L0_S6_F131
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 93    L0_S6_F133
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Feature num: 94    L0_S6_F135
Name: name_cat, dtype: object
               r               cat
        err_rate   count  sum mean std min max most least
s   d
4.0 8.0    0.539  168233  907  NaN NaN NaN NaN  NaN   NaN
5.0 8.0    0.525  170321  895  NaN NaN NaN NaN  NaN   NaN

Analyzing station 7.0 (0 features)

Analyzing station 8.0 (0 features)

Analyzing station 9.0 (39 features)

Feature num: 104    L0_S9_F151
Name: name_cat, dtype: object
                r               cat
         err_rate   count  sum mean  std  min  max most least
s   d
8.0 26.0    0.610   15257   93  NaN  NaN  NaN  NaN  NaN   NaN
    27.0    0.827   14031  116  NaN  NaN  NaN  NaN  NaN   NaN
    28.0    0.899    1112   10  NaN  NaN  NaN  NaN  NaN   NaN
    29.0    0.507  181638  920  1.0  0.0  1.0  1.0  1.0   1.0
    39.0    0.398   11304   45  NaN  NaN  NaN  NaN  NaN   NaN

Feature num: 105    L0_S9_F153
Name: name_cat, dtype: object
                r               cat
         err_rate   count  sum mean std min max most least
s   d
8.0 26.0    0.610   15257   93  NaN NaN NaN NaN  NaN   NaN
    27.0    0.827   14031  116  NaN NaN NaN NaN  NaN   NaN
    28.0    0.899    1112   10  NaN NaN NaN NaN  NaN   NaN
    29.0    0.507  181638  920  NaN NaN NaN NaN  NaN   NaN
    39.0    0.398   11304   45  NaN NaN NaN NaN  NaN   NaN

Feature num: 106    L0_S9_F154
Name: name_cat, dtype: object
                r                     cat                             \
         err_rate   count  sum       mean  std        min        max
s   d
8.0 26.0    0.610   15257   93        NaN  NaN        NaN        NaN
    27.0    0.827   14031  116        NaN  NaN        NaN        NaN
    28.0    0.899    1112   10        NaN  NaN        NaN        NaN
    29.0    0.507  181638  920  1.258e+07  0.0  1.258e+07  1.258e+07
    39.0    0.398   11304   45        NaN  NaN        NaN        NaN


               most      least
s   d
8.0 26.0        NaN        NaN
    27.0        NaN        NaN
    28.0        NaN        NaN
    29.0  1.258e+07  1.258e+07
    39.0        NaN        NaN

Feature num: 108    L0_S9_F156
Name: name_cat, dtype: object
                r               cat
         err_rate   count  sum mean  std  min  max most least
s   d
8.0 26.0    0.610   15257   93  NaN  NaN  NaN  NaN  NaN   NaN
    27.0    0.827   14031  116  NaN  NaN  NaN  NaN  NaN   NaN
    28.0    0.899    1112   10  NaN  NaN  NaN  NaN  NaN   NaN
    29.0    0.507  181638  920  1.0  0.0  1.0  1.0  1.0   1.0
    39.0    0.398   11304   45  NaN  NaN  NaN  NaN  NaN   NaN

Feature num: 109    L0_S9_F158
Name: name_cat, dtype: object
                r               cat
         err_rate   count  sum mean std min max most least
s   d
8.0 26.0    0.610   15257   93  NaN NaN NaN NaN  NaN   NaN
    27.0    0.827   14031  116  NaN NaN NaN NaN  NaN   NaN
    28.0    0.899    1112   10  NaN NaN NaN NaN  NaN   NaN
    29.0    0.507  181638  920  NaN NaN NaN NaN  NaN   NaN
    39.0    0.398   11304   45  NaN NaN NaN NaN  NaN   NaN

Feature num: 110    L0_S9_F159
Name: name_cat, dtype: object
                r                     cat                             \
         err_rate   count  sum       mean  std        min        max
s   d
8.0 26.0    0.610   15257   93        NaN  NaN        NaN        NaN
    27.0    0.827   14031  116        NaN  NaN        NaN        NaN
    28.0    0.899    1112   10        NaN  NaN        NaN        NaN
    29.0    0.507  181638  920  1.258e+07  0.0  1.258e+07  1.258e+07
    39.0    0.398   11304   45        NaN  NaN        NaN        NaN


               most      least
s   d
8.0 26.0        NaN        NaN
    27.0        NaN        NaN
    28.0        NaN        NaN
    29.0  1.258e+07  1.258e+07
    39.0        NaN        NaN

Feature num: 112    L0_S9_F161
Name: name_cat, dtype: object
                r               cat

In [ ]:
# Interesting: L2_S26_F3099, L2_S27_F3192, L2_S28_F3285, L3_S30_F3498, L3_S30_F3500, L3_S30_F3503, 
# L3_S30_F3505, L3_S30_F3508, L3_S30_F3510, L3_S30_F3513, L3_S30_F3518, L3_S30_F3523, L3_S32_F3854, L3_S36_F3939

## Analyze date feature per station

In [33]:
station = 24.311

cols_dat = [int(x) for x in lut[lut['station_V2']==station].col_dat if not np.isnan(x)]

print('Analyzing station {} ({} features)'.format(station, len(cols_dat)))
print('')

for col_dat in cols_dat:
    
    print('Feature num: {}'.format(col_dat))

    # Get numeric values for this feature
    f_dat = X_dat[:, col_dat].todense().A1
    f_dat[f_dat==0] = np.nan

    s = source_stations.loc[ids.Id, str(station)]
    d = destination_stations.loc[ids.Id, str(station)]


    # Create a dataframe
    df = pd.DataFrame({'dat': f_dat,'s':s, 'd':d, 'r':y.Response})

    print(df.groupby(['s','d']).agg({'dat':['mean','std','min','max', 'skew'], 'r': [err_rate,'count','sum']}))
    print('')
    
    # For dates all features are some, so we can stop after one
    break

Analyzing station 24.311 (14 features)

Feature num: 458
                     dat                                          r         \
                    mean      std      min      max   skew err_rate  count
s      d
9.000   29.000  1651.030    0.000  1651.03  1651.03    NaN    0.000      2
10.000  26.000  1457.040      NaN  1457.04  1457.04    NaN    0.000      1
        29.000  1651.032    0.005  1651.03  1651.04  2.073    0.000      4
11.000  29.000  1651.010      NaN  1651.01  1651.01    NaN    0.000      1
24.304  26.000   751.680      NaN   751.68   751.68    NaN    0.000      1
24.309 -1.000   1161.665  481.137   821.45  1501.88    NaN   50.000      2
        25.100   642.421  322.840   339.64  1055.69  0.363    8.333     24
        25.211  1158.840      NaN  1158.84  1158.84    NaN  100.000      1
        25.212   532.412  349.860   375.95  1158.26  2.236    0.000      5
        25.222   376.680      NaN   376.68   376.68    NaN    0.000      1
        26.000   839.522  221.430     3.06  1652.14  0.176    0.928  47066
        27.000   841.974  198.327     2.40  1665.67 -0.050    0.833  12600
        28.000   903.483  227.243   460.95  1258.80  0.197    0.620    967
        29.000   753.786  358.899   338.90  1651.57  0.870    1.238   5413
        30.000   860.992  489.373   258.67  1651.16  0.549    2.632     38
        38.000   459.683    2.438   456.87   461.19 -1.719    0.000      3
        39.000   480.853   98.723   456.87  1432.82  6.710    0.000    327
24.310 -1.000    821.450      NaN   821.45   821.45    NaN    0.000      1
        25.100   936.481  286.523   376.01  1158.83 -1.632    0.000     11
        25.200  1172.410      NaN  1172.41  1172.41    NaN    0.000      1
        25.211   676.850      NaN   676.85   676.85    NaN    0.000      1
        25.222  1124.410    0.000  1124.41  1124.41  0.000    0.000      3
        26.000   839.786  221.435     0.44  1565.86  0.173    0.833  46939
        27.000   845.957  199.049   248.20  1665.55  0.065    0.788  12685
        28.000   899.748  226.946   460.95  1258.80  0.225    1.754   1026
        29.000   751.476  355.357   281.84  1665.50  0.866    1.163   5417
        30.000   813.057  505.087     2.31  1664.32  0.682    0.000     45
        33.000   265.540      NaN   265.54   265.54    NaN    0.000      1
        38.000   462.275    2.103   461.19   465.43  1.999    0.000      4
        39.000   473.206   86.891   456.87  1431.06  9.045    0.000    332


                sum
s      d
9.000   29.000    0
10.000  26.000    0
        29.000    0
11.000  29.000    0
24.304  26.000    0
24.309 -1.000     1
        25.100    2
        25.211    1
        25.212    0
        25.222    0
        26.000  437
        27.000  105
        28.000    6
        29.000   67
        30.000    1
        38.000    0
        39.000    0
24.310 -1.000     0
        25.100    0
        25.200    0
        25.211    0
        25.222    0
        26.000  391
        27.000  100
        28.000   18
        29.000   63
        30.000    0
        33.000    0
        38.000    0
        39.000    0